{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block description %}
{% endblock description %}
{% block keywords %}
{% endblock keywords %}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-8 content is-medium">
                <h1 class="title is-1">{{ page_title }}</h1>
                <p>{% trans "You have successfully reset your password. You can now log in with your new password." %}</p>                
                <a href="{% url 'accounts:login' %}" class="button is-rounded is-success">
                    <span class="icon is-small">
                        <i class="fa-solid fa-fingerprint"></i>
                    </span>
                    <span>{% trans "Log in" %}</span>
                </a>
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
