{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content %}
    
    <h1>{{ page_title }}</h1>

    <form method="post">
        {% csrf_token %}

        {{ form.as_div }}

        <hr />

        <button type="submit">{{ bt_submit }}</button>
        <a href="{% url 'sandbox:movie_list' %}">{{ bt_cancel }}</a>
        
        {% if has_data %}
            <button type="submit" name="del">{{ bt_del }}</button>
        {% endif %}    
    </form>
    
{% endblock content %}