

DJANGO TEMPLATES: BASIC


    
    >> Hashtag signs with curly-braces {# #} are TEMPLATE-COMMENTS that will be only server-side, 
        unlike when is used the <!-- -->. 

            E.g. inline comment:

                {# This is just a server-side inline-comment! #}


            E.g. block comment:

                {% comment "Optional note" %}  
                    This is just a server-side block-comment!
                {% endcomment %}                


    >> Percentage signs within curly-braces {% %} are TEMPLATE-TAGS used to perform logic
        operations, control structures, and include other template functionalities within a
        template.

            E.g.
                
                >> Calling another template as base for this template:
                    
                    {% extends 'base.html' %}
                    
                
                >> The 'base.html' example you find here:          
                    
                    /33-Web-development/backend/python/django/project-examples/proj-common/templates/base.html


                >> Defining the template's content-block must be loaded here:
                
                    {% block content %}
                    {% endblock content %}


                >> A conditional example:
                
                    {% if cars %}
                        <p>Good, there is at least one car available!</p>
                    {% else %}
                        <p>Oops, there is no car available!</p>
                    {% endif %}
                

                >> A For loop example:

                    {% for car in cars %}

                        {% comment %} 
                        Applying dynamic links/routes
                        namespace and pattern-name are defined in each sub-app urls.py file
                        {% endcomment %}
                        <p><a href="{% url '<namespace>:<pattern_name>' <optional_arg1> <optional_arg2> %}">xxxxxxxx</a></p>

                    {% endfor %}
                


    >> Double curly-braces {{ }} are TEMPLATE-VARIABLES which are used to output the value of
        a variable sent by the CONTEXT (dictionary) from a views.py file.

            E.g.

                >> Reading the variable/object: 

                    {{ car }}   {# if dunder '__str__' is already define in 'models' with veh name #}
                    {# OR #}
                    {{ car.name }}   {# if no dunder '__str__' defined #} 

                    {# Accessing the attributes that object / content of dictionary #} 
                    {{ car['brand'] }}             {# DOESNT WORK #}
                    {{ car.brand }}                {# WORKS! #}
                    
                    {# Result from a function #}
                    {{ result_from_a_function() }}  {# DOESNT WORK #}
                    {{ result_from_a_function }}    {# WORKS! #}



    >> Includes:

        /33-Web-development/backend/3-3-frontend-templates/include.html


                
    >> A perfect example of using the template and its other details, look this out:
            
            /33-Web-development/backend/python/django/project-examples/proj-common/
