

PYTHON > VIRTUAL ENVIRONMENT > CREATING REQUIREMENTS FILE


    >> Using UV: (Highly recommended)
        /Python/Package-manager/uv/creating-requirements-of-project.txt

    >> Using PIP:
        /Python/Package-manager/pip/creating-requirements-of-project.txt