{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block description %}
{% endblock description %}
{% block keywords %}
{% endblock keywords %}
{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-8 content is-medium">
                <h1 class="title is-1">{{ page_title }}</h1>
                {% blocktrans %}
                    <p>You should receive the e-mail shortly. If you don't receive it, please make sure you've entered the address you registered with, and check your spam folder.</p>
                {% endblocktrans %}
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}
