<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}{% endblock %}</title>

        {% block styles %}
          <!-- Load Bootstrap-Flask CSS + Link to styles.css to apply styling to all the child templates -->
          {{ bootstrap.load_css() }}
          <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        {% endblock %}
    </head>

    <body>
        <div class="container">
                <div class="row">
                    {% block body %}{% endblock %}
                </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    {% block footer_menu %}{% endblock %}
                </div>
            </div>
        </footer>

        <!-- Load Bootstrap-Flask JS to apply effects to all the child templates -->
        {{ bootstrap.load_js() }}
    </body>
</html>
