{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block description %}{% endblock %}

{% block content %}
    
    <h1>{{ page_title }}</h1>

    <!-- PROFILE FORM - START -->
    <form name="form-crise" method="post">

        {% csrf_token %}

        <div class="col-md-12">

            {{ form.as_p }}

        </div>
        <button type="submit">{{ bt_submit }}</button>
        {% comment %} <button type="submit" name="del_account">{{ bt_del }}</button> {% endcomment %}

    </form>
    <!-- PROFILE FORM - END -->
    
{% endblock %}