<!--
    HOW DO I IMPLEMENT IT:

        /Python/Web-development/django/3-1-models-database/3-users/extending-users-with-profile.txt
-->

{% extends "base.html" %} {% load i18n %} {% block title %} {{ page_title }} {% endblock title %} {%
block description %} {% endblock description %} {% block keywords %} {% endblock keywords %} {%
block content %}
<div class="container">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-8">
      <h1 class="title is-1">{{ header }}</h1>
      <hr class="has-background-white-ter mb-6" />
      <!-- CHANGE PASSWORD FORM - START -->
      <form method="post">
        {% csrf_token %}
        <div class="block content is-medium">
          {# Non-field error #} {% include "inc/error_message_non_field.html" with var=form %} {#
          Old password #}
          <div class="columns">
            <div class="column">
              <div class="field">
                <label for="{{ form.old_password.id }}" class="label">
                  {{ form.old_password.label }}
                </label>
                <div class="control has-icons-left">
                  {{ form.old_password }}
                  <span class="icon is-left">
                    <i class="fa-solid fa-unlock-keyhole"></i>
                  </span>
                </div>
              </div>
              {# Error message #} {% include "inc/error_message.html" with var=form.old_password %}
              {# Help text #} {% include "inc/help_text.html" with var=form.old_password %}
            </div>
            <div class="column is-hidden-mobile"></div>
          </div>
          {# New password and confirmation #}
          <div class="columns">
            <div class="column">
              <div class="field">
                <label for="{{ form.new_password1.id }}" class="label">
                  {{ form.new_password1.label }}
                </label>
                <div class="control has-icons-left">
                  {{ form.new_password1 }}
                  <span class="icon is-left">
                    <i class="fa-solid fa-key"></i>
                  </span>
                </div>
              </div>
              {# Error message #} {% include "inc/error_message.html" with var=form.new_password1 %}
              {# Help text #} {% include "inc/help_text.html" with var=form.new_password1 %}
            </div>
            <div class="column">
              <div class="field">
                <label for="{{ form.new_password2.id }}" class="label">
                  {{ form.new_password2.label }}
                </label>
                <div class="control has-icons-left">
                  {{ form.new_password2 }}
                  <span class="icon is-left">
                    <i class="fa-solid fa-key"></i>
                  </span>
                </div>
              </div>
              {# Error message #} {% include "inc/error_message.html" with var=form.new_password2 %}
              {# Help text #} {% include "inc/help_text.html" with var=form.new_password2 %}
            </div>
          </div>
          <hr class="has-background-white-ter mb-6" />
          {# Action buttons #}
          <div class="columns is-mobile">
            <div class="column is-6 has-text-left">
              <a href="{{ request.META.HTTP_REFERER }}" class="button is-text">{{ bt_back }}</a>
            </div>
            <div class="column is-6 has-text-right">
              <button type="submit" class="button is-rounded is-success">
                <span class="icon is-small">
                  <i class="fa-solid fa-fingerprint"></i>
                </span>
                <span>{{ bt_submit }}</span>
              </button>
            </div>
          </div>
        </div>
      </form>
      <!-- CHANGE PASSWORD FORM - END -->
    </div>
    <div class="column"></div>
  </div>
</div>
{% endblock content %} {% block scripts %} {% endblock scripts %}
